@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto', sans-serif;
}

.font-hero {
    font-family: 'Nunito Sans', sans-serif;
}

.shake{
    animation: shake 1s infinite;
}

@keyframes shake {
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  30% { transform: translate(0px, 2px)   rotate(0deg);  }
  50% { transform: translate(-1px, 2px)  rotate(-1deg); }
  70% { transform: translate(2px, 1px)   rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(4deg);  }
  100%{ transform: translate(1px, -2px)  rotate(-1deg); }
}


.artistProfile .swiper-button-next:after, .artistProfile .swiper-button-prev:after {
    color: white;
}

.contentProducts .swiper-button-next:after, .contentProducts .swiper-button-prev:after {
    font-size: 22px;
}

.contentProducts .swiper-button-prev {
    left: -6px;
    margin-top: -35px;
}

.contentProducts .swiper-button-next {
    right: -8px;
    margin-top: -35px;
}