@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.font-hero {
    font-family: 'Source Sans Pro', sans-serif;    
}

.artistProfile .swiper-button-next:after, .artistProfile .swiper-button-prev:after {
    color: white;
}

.contentProducts .swiper-button-next:after, .contentProducts .swiper-button-prev:after {
    font-size: 22px;
}

.contentProducts .swiper-button-prev {
    left: -6px;
    margin-top: -35px;
}

.contentProducts .swiper-button-next {
    right: -8px;
    margin-top: -35px;
}

.input{
    @apply border border-gray-400/60 text-sm outline-0 block w-full p-2.5 py-[7px] rounded-md
}

.stream{
    @apply px-2 md:px-0 w-full md:w-11/12 mx-auto
}

.stream-lg{
    @apply px-2 md:px-0 w-full md:w-11/12 mx-auto
}